<div id="courseCard{{course.id}}" class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <span class="nav-link active" ng-click="navItemClicked('Overview')">Overview</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" ng-click="navItemClicked('All Games')">All Games <span class="badge badge-primary">{{gameCount == 0 ? "..." : gameCount}}</span></span>
            </li>
            <li class="nav-item">
                <span class="nav-link" ng-click="navItemClicked('Leaderboard')">Leaderboard</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" ng-click="navItemClicked('Charts')">Charts</span>
            </li>
        </ul>
    </div>
    <div class="card-block">
        <div ng-show="selectedTab == 'Overview'" class="container">
            <h4 class="card-title">{{course.name}}</h4>
            <h2>Median Game Duration</h2>
            <span>{{medianGameDuration}}</span>
            <h2>Median Score</h2>
            <span>{{medianScore}}</span>
        </div>
        <div ng-show="selectedTab == 'All Games'" class="container">
            <h4 class="card-title">{{course.name}}</h4>
            <div ng-repeat="game in allGames" quick-look-game game="game"></div>
        </div>
        <div ng-show="selectedTab == 'Leaderboard'" class="container">
            <h4 class="card-title">{{course.name}}</h4>
            <div ng-repeat="lb in leaderboards">
                <leaderboard lb="lb"></leaderboard>
            </div>
        </div>
        <div ng-show="selectedTab == 'Charts'" class="container">
            <h4 class="card-title">{{course.name}}</h4>
            <div id="chartsCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div id="chart1"></div>
                    </div>
                    <div class="carousel-item">
                        <div id="chart2"></div>
                    </div>
                    <div class="carousel-item">
                        <div id="chart3"></div>
                    </div>
                </div>
                <a class="carousel-control-prev" data-target="#chartsCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" data-target="#chartsCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>