<div id="playerCard{{player.id}}"class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <span class="nav-link active" ng-click="navItemClicked('Overview')">Overview</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" ng-click="navItemClicked('All Games')">All Games</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" ng-click="navItemClicked('Best Games')">Best Games</span>
            </li>
        </ul>
    </div>
    <div class="card-block">
        <div ng-show="selectedTab == 'Overview'" class="container">
            <h3>{{player.name}}</h3>
            <p class="card-text">Games played: {{player.numGamesPlayed}}</p>
            <p class="card-text">Games won: {{player.numGamesWon}}</p>
            <p class="card-text">Ratio: {{player.WLratio}}</p>
            <p class="card-text">Most Played Course: {{player.mostPlayedCourse.name}}</p>
            <a href="/games/{{player.mostRecentGameUuid}}" class="btn btn-primary">Most Recent Game</a>
        </div>
        <div ng-show="selectedTab == 'All Games'" class="container">
            <h3>{{player.name}}</h3>
            <div class="container" ng-repeat="game in games" quick-look-game game="game" curr-player="player"></div>
        </div>
        <div ng-show="selectedTab == 'Best Games'" class="container">
            <h3>{{player.name}}</h3>
            <div class="container" ng-repeat="game in player.bestGames" quick-look-game game="game" curr-player="player"></div>
        </div>
    </div>
</div>