<div id="playerCard{{player.id}}"class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <span class="nav-link active" ng-click="navItemClicked('Overview')">Overview</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" ng-click="navItemClicked('All Games')">All Games</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" ng-click="navItemClicked('Best Games')">Best Games</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" ng-click="navItemClicked('Charts')">Charts</span>
            </li>
            <li class="nav-item">
                <span class="nav-link" ng-click="navItemClicked('SuperGames')">SuperGames</span>
            </li>
        </ul>
    </div>
    <div class="card-block">
        <div ng-show="selectedTab == 'Overview'" class="container">
            <h3>{{player.name}}</h3>
            <p class="card-text">Games played: {{player.numGamesPlayed}}</p>
            <p class="card-text">Games won: {{player.numGamesWon}}</p>
            <p class="card-text">Ratio: {{player.WLratio}}</p>
            <p class="card-text">Most Played Course: {{player.mostPlayedCourse.name}}</p>
            <a href="/games/{{player.mostRecentGameUuid}}" class="btn btn-primary">Most Recent Game</a>
        </div>
        <div ng-show="selectedTab == 'All Games'" class="container">
            <h3>{{player.name}}</h3>
            <div class="container" ng-repeat="game in games" quick-look-game game="game" curr-player="player"></div>
        </div>
        <div ng-show="selectedTab == 'Best Games'" class="container">
            <h3>{{player.name}}</h3>
            <div class="container" ng-repeat="game in player.bestGames" quick-look-game game="game" curr-player="player"></div>
        </div>
        <div ng-show="selectedTab == 'Charts'" class="container">
            <h3>{{player.name}}</h3>
            <div id="chartsCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div id="chart1"></div>
                    </div>
                    <div class="carousel-item">
                        <div id="chart2"></div>
                    </div>
                    <div class="carousel-item">
                        <div id="chart3"></div>
                    </div>
                    <div class="carousel-item">
                        <div id="chart4"></div>
                    </div>
                    <div class="carousel-item">
                        <div id="chart5"></div>
                    </div>
                    <div class="carousel-item">
                        <div id="chart6"></div>
                    </div>
                </div>
                <a class="carousel-control-prev" data-target="#chartsCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" data-target="#chartsCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div id="course-select-container">
                <select id="courseSelect">
                    <option value="0">All courses</option>
                    <option ng-repeat="course in courses" value="{{course.uuid}}">{{course.name}}</option>
                </select>
            </div>
        </div>
        <div ng-show="selectedTab == 'SuperGames'" class="container">
            <h3>{{player.name}}</h3>
            <div id="course-select-container">
                <select id="courseSelectSG">
                    <option ng-repeat="course in courses" value="{{course.uuid}}">{{course.name}}</option>
                </select>
            </div>
            <div>
                <score-card game="superGame"></score-card>
            </div>
        </div>
    </div>
</div>